<html xmlns:th="http://www.thymeleaf.org">

<head>
</head>

<body>
    <div style="padding:100px 100px;">

        <center>
            <h1>로그인</h1>

            <form action="/user/login" method="post" autocomplete="off">
                <fieldset style="width:150">
                    <legend style="text-align: center;">👀</legend>

                    <input type="text" placeholder="아이디" name="userId" required 
                        oninvalid="this.setCustomValidity('아이디 입력 필수')" oninput = "setCustomValidity('')"/><br><br>
                    <input type="text" placeholder="비밀번호" name="userPw" required 
                        oninvalid="this.setCustomValidity('비밀번호 입력 필수')" oninput = "setCustomValidity('')" /><br><br>

                    <input type="submit" value="로그인" />
                </fieldset>
            </form>
            
            <a href="/">🏠</a>
           
        </center>
    </div>
</body>

</html>